.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
  font-size: 24px;
}

.main-menu {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.main-menu a, main-menu a:hover {
  color: rgba(0, 40, 95, 1);
  font-size: 18px;

}

.main-menu a.active {
  font-weight: 700;
}

.main-nav {
  width: 100%;
  padding-left: auto;
  min-height: 70px;
}

.main-nav button {
    outline: none;
    border: none;
  }
